.App {
  @apply text-center;
}

.App-logo {
  @apply h-40 pointer-events-none animate-spin-slow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @apply bg-gray-800 min-h-screen flex flex-col items-center justify-center text-2xl text-white;
}

.App-link {
  @apply text-blue-300;
}

.imageISS {
  @apply block mx-auto transform -translate-x-950 translate-y-50 w-5 pointer-events-none;
}

.pigeon-marker {
  border: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
